<div class="user-icon">
  <svg xmlns="http://www.w3.org/2000/svg" width="17.995" height="16.71" viewBox="0 0 17.995 16.71"><path d="M13.282,15.477v-1.06A5.741,5.741,0,0,0,15.853,9.64c0-3.194,0-5.784-3.856-5.784S8.141,6.446,8.141,9.64a5.741,5.741,0,0,0,2.571,4.777v1.06C6.351,15.833,3,17.976,3,20.566H20.994c0-2.59-3.352-4.733-7.712-5.089Z" transform="translate(-2.999 -3.856)" fill="#344b67"/></svg>
</div>
