@import 'css3-mixins.scss';
@import 'basics.scss';
@import 'tekst_media.scss';
@import 'tekst_media_resp.scss';
@import 'navbar.scss';
@import 'faq.scss';
@import 'header.scss';
@import 'getuigenissen.scss';
@import 'footer.scss';
@import 'faq_resp.scss';
@import 'navbar_resp.scss';
@import 'footer_resp.scss';
@import 'getuigenissen_resp.scss';
@import 'header_resp.scss';
@import 'form.scss';
@import 'submission.scss';
@import 'form-responsive.scss';
@import 'cookie_consent.scss';
