.block-views-blockveelgestelde-vragen-block-1{
  margin: 0 auto;
  padding-top: 7.5rem;
  background-color: $lightgreen;

  h2{
    text-align: center;
    margin-bottom: 5.9rem;
  }

  .views-row{
    cursor: pointer;
    display: flex;
    &:before{
      content: "";
      display: block;
      width:1.2rem;
      height:1.2rem;
      margin-right: 2.2rem;
      border-radius:50%;
      background: $green;
      @include translateY(50%);
    }
  }

  .faq-switch{
    top: 0;
    margin-left: auto;
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 2.3rem;
    cursor: pointer;

    i{
      position: absolute;
      @include single-transition(all 0.4s ease);
    }

    .min-button{
      opacity: 0;
      visibility: hidden;
    }
  }

  .view-veelgestelde-vragen{

    h3{
      margin-bottom: 0;
      font-size: 1.7rem;
      @include single-transition(all 0.4s ease);
    }

    .faq-open{

      h3{
        margin-bottom: 2.4rem;
      }

      .plus-button{
        opacity: 0;
        visibility: hidden;
      }

      .min-button{
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .view-content{
    background-color: white;
    padding-top: 12.3rem;
    padding-bottom: 8.35rem;

    .views-row{
      max-width: 116rem;
      margin: 0 auto 3.25rem;
      padding-top: 3.65rem;
      border-top: solid 1px $faqgreen;

      &:last-of-type{
        margin-bottom: 0;
      }

      &:first-of-type{
        padding: 0;
        border-top: none;
      }
    }
  }

  .js-form-wrapper{
    float: none !important;
    margin: 0;
  }

  #edit-actions{
    display: none;
  }

  .fieldset-wrapper{
    max-width: 116rem;
    width: 100%;
    margin: 0 auto;

    .form-radios .form-radios{
      display: flex;
      justify-content: space-between;
    }

    .js-form-item{
      margin: 0;
      text-align: center;
    }

    label{
      text-align: center;
      display: block;
      width: 27.8rem;
      // margin-bottom: .9rem;
    }

    input{
      display: none;
    }

    .form-item{
      float: none;
      text-align: center;
      display: inline-block;
      input{
        display: none;
      }
      input:checked + label{
          background-color: #fff;
          border-radius: .8rem .8rem 0 0;
          padding-bottom: 1.7rem;
          color: $default;
      }

      label{
        cursor: pointer;
        background-color: $green;
        padding: 0.8rem 0 1rem;
        font-size: 1.6rem;
        font-weight: 900;
        color: #fff;
        border-radius: .8rem;
        @include single-transition(all 0.4s ease);
        &:hover{
          background-color: #fff;
          color: $default;
        }
      }
      label:last-of-type{
        margin-right: 0;
      }
    }
  }

  legend{
    display: none;
  }
}

.views-field-field-home-veelgestelde-vragen{
  flex: 0 0 85%;
}


.field--name-field-faq-antwoord{
  display: none;
}
