footer{
  background-color: $default;
  .region-footer{
    ul{
      display: flex;
    }
  }
}

.footer-inner{
  max-width: 116rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 2.4rem 0 2.1rem 0;
  color: white;

  a{
    color: white;
    margin-right: 2rem;
    text-decoration: underline;

    &:hover{
      opacity: .6;
    }
  }
}

.Konnu_wrapper{
  display: flex;
  align-items:end;
}

.Konnu_footer_wrapper{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  div:first-of-type{
    display: flex;
    position: relative;
    top: 0.9rem;
    svg:nth-of-type(1){
      margin-left: 1.2rem;
      position: relative;
      top: -1rem;
    }
    svg:nth-of-type(2){
      margin-left: 1.2rem;
      position: relative;
      width: 8rem;
      top: 0.2rem;
    }
  }
  span{
    color: #2490D7;
    text-transform: uppercase;
  }
  h3{
    margin-bottom: 0;
    font-weight: 400;
    font-size: 1.6rem;
  }
  a{
    margin-left: .4rem;
  }
}
