#folder__form,#folder__form_yes,#folder__form_no{
  max-width: 116rem;
  width: 100%;
  margin: 0 auto;
  padding: 9.6rem 0 12rem;
}

#folder__form_yes,#folder__form_no{
  padding: 0;
  margin: 7.2rem 0;
}

.form__item{
  position: relative;
}

.form__item--wrapper{
  display: flex;
  margin-bottom: 7.2rem;
}

.folder__form--title{
  width: 34%;
  font-size: 2rem;
  font-weight: 800;
}

.folder__form--address{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  @include box-sizing(border-box);
  row-gap:3.6rem;
  @include single-transition(background-color 0.4s ease);
  @include single-transition(padding 0.4s ease);
}
.folder__form--address.invalid{
  background-color: $error;
  -webkit-box-shadow: 0 0 0px 1000px #c834510d inset;
  padding: 2rem;
.form__item{
  input, textarea{
    border-color: $error !important;
    background-color: white !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
  }
}
  label{
    color: #fff;
    span{
      color: #fff;
    }
  }
}

.folder__form--right{
  width: 66%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 3.6rem;
  box-sizing: border-box;

  label{
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .14rem;

    span{
      color: $green;
    }
  }

  small{
    position: absolute;
    bottom: -2.5rem;
    left: 1.6rem;
  }
}

.form-select{
  flex-direction: column;
  row-gap: 1.3rem;
}
#folder__form--remarks{
  display: block !important;
  -webkit-appearance: none;
}

.form__item--personal--content{
  .form__item{
    display: flex;
    flex-direction: column;
    // flex: 18%;
    // flex-shrink: 0 !important;
    // flex-grow: 0 !important;
    max-width: 23%;
    width: 100%;
  }

  .form__item--postalcode, .form__item--phonenumber{
    // flex: 34%;
    max-width: 36%;
    width: 100%;
  }

  .form__item--city, .form__item--emailaddress{
    // flex: 58.5%;
    max-width: 61.5%;
    width: 100%;
  }

  .form__item--street, .form__item--name, .form__item--firstname{
    // flex: 45%;
    max-width: 48.5%;
    width: 100%;
  }
}

.form__date--wrapper{
    position: relative;
    input{
       width: 27.8rem;
       cursor: pointer;
    }
    svg{
      position: absolute;
      right: 1.6rem;
      top: 14px;
      pointer-events: none;
      path{
        fill: $green;
      }
    }
}
.flatpickr-day.week.selected{
  background-color: $green;
  background: $green;
  border-color: $green;
  -webkit-box-shadow: -5px 0 0 #f5fcf5, 5px 0 0 #f5fcf5;
  box-shadow: -5px 0 0 #f5fcf5, 5px 0 0 #f5fcf5;

}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-calendar-picker-indicator
  {
    // -webkit-appearance: none;
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    // opacity: 1;
    color: $faqgreen;
    // background-color: $faqgreen;
    background-position: -15px -155%;
    @include single-transition(background-position 0.4s ease);
    background-repeat: no-repeat;
    background-image: url('/sites/foldersontvangen.be/files/Icon-material-date-range.png');
    padding-left: 1.5rem;
    &:hover{
      background-position: -15px 250%;
    }
}
#folder__form--date{
  position: relative;
}

input, textarea,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  padding: 1.4rem 1.8rem 1.5rem;
  border-radius: .8rem;
  border: 1px solid $lightgreen;
  background-color: $lightgreen !important;
  -webkit-box-shadow: 0 0 0px 1000px $lightgreen inset;
  -webkit-text-fill-color: #344B67;
  @include single-transition(all 0.4s ease);
}

input{
  &:hover, &:focus{
    border-color: $green;
  }
}


input[disabled],textarea[disabled], select[disabled],input[disabled]:hover,textarea[disabled]:hover,select[disabled]:hover{
  background-color: #f3f3f3 !important;
  border-color: #b4b4b4 !important;
  color: #b4b4b4 !important;
  -webkit-box-shadow: 0 0 0px 1000px #f3f3f3 inset;
  -webkit-text-fill-color: #b4b4b4;
}
button[disabled]{
  background-color: #b4b4b4 !important;
  &:hover{
    svg{
       margin-left: 1.6rem !important;
    }
  }
}
select{
  padding: 1.4rem 1.8rem 1.5rem;
  border-radius: .8rem;
  border: 1px solid $green;
  background-color: $lightgreen;
}

 select{
    padding: 1.4rem 1.6rem 1.5rem;
    border-radius: .8rem;
    border: 1px solid $lightgreen;
    background-color: $lightgreen;
    overflow: hidden;
    overflow-wrap: break-word;
    width: 100%;
    overflow: hidden !important;
    text-overflow: clip;
    white-space: nowrap;
    background-image: url("data:image/svg+xml;utf8,<svg fill='lightblue' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    -webkit-appearance: none;
    -moz-appearance: none;
    background-repeat: no-repeat;
    background-position-x: 99%;
    background-position-y: 10px;
    option{
      overflow: hidden !important;
      text-overflow: clip;
        white-space: nowrap;
    }
  }

.folder__form--description{
  display: flex;
  position: relative;
  flex-direction: column;
}

.folder__form--submit{
  justify-content: flex-start;
  display: flex;
  align-items: center;
  row-gap: 1.6rem;
  margin-left: 34%;
  // column-gap: 1.6rem;

  button{
    padding: 1.2rem 3.2rem 1.2rem 1.6rem;
    border-radius: .8rem;
    border: none;
    background-color: $green;
    @include single-transition(all 0.4s ease);
    color: white;
    font-size: 2rem;

    svg{
      margin-left: 1.6rem;
      @include single-transition(all 0.4s ease);
    }

    &:hover{
      background-color: $green;
      padding: 1.2rem 1.6rem;
      svg{
        margin-left: 3.2rem;
      }
    }
  }

  small{
    font-size: 1.6rem;
    position: initial;
    margin-left: 2rem;
    span{
      color: $green;
    }
  }
}

.folder__form--submit.invalid{
  button{
    background-color: $error;
  }
  small{
    color: $default !important;
  }
  .folder__submit--error{
    small{
      color: $error !important;
    }
  }
}

::-webkit-calendar-picker-indicator {
  // background-color: $green;
  color: green;
}
::-webkit-calendar-picker-icon {
  // background-color: $green;
  display: none;
  color: green;
}



// select {
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   text-indent: 1px;
//   // text-overflow: '';
//   background-image:
//     linear-gradient(45deg, transparent 50%, $default 50%),
//     linear-gradient(135deg, $default 50%, transparent 50%),
//     linear-gradient(to right, #ccc, #ccc);
//   background-position:
//     calc(100% - 20px) calc(1em + 2px),
//     calc(100% - 15px) calc(1em + 2px),
//     calc(100% - 2.5em) 0.5em;
//   background-size:
//     5px 5px,
//     5px 5px,
//     1px 1.5em;
//   background-repeat: no-repeat;
// }


.form__item.invalid{
  input, textarea{
    border-color: $error;
    background-color: $errorlight !important;
    -webkit-box-shadow: 0 0 0px 1000px $errorlight inset;
  }
  small{
    color: $error;
  }
  .fi-cnsuxl-exclamation-mark{
    opacity: 1 !important;
    visibility: visible !important;
  }
}
.folder__submit--error{
  width: 100%;
  margin-top: -2.4rem;
  display: none;
  opacity: 0;
  visibility: hidden;
  @include single-transition(all 0.4s ease);
  small{
    color: $error;
    font-size: 1.2rem;
    position: static;
  }
  .fi-cnsuxl-exclamation-mark{
    visibility: visible;
    opacity: 1;
    position: static;
  }
}
.folder__submit--error.invalid{
  display: flex;
  gap: .8rem;
  opacity: 1;
  visibility: visible;

}
.fi-cnsuxl-exclamation-mark{
    position: absolute;
    right: 1.5rem;
    top: 3.4rem;
    opacity: 0;
    visibility: hidden;
    @include single-transition(all 0.4s ease);
    path{
      fill: $error;
    }
  }

.form__message{
  position: fixed;
  opacity: 0;
  visibility: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  z-index: 9999;
  -webkit-transition: opacity 1s ease, visiblity 1s ease;
  -moz-transition: opacity 1s ease, visiblity 1s ease;
  -o-transition: opacity 1s ease, visiblity 1s ease;
  transition: opacity 1s ease, visiblity 1s ease;
}
.form__message.show{
  opacity: 1;
  visibility: visible;
  .lds-ring{
    display: block;
  }
}

// loader
.loader{
  position: fixed;
  left: 50%;
  top: 15rem;
  @include translateX(-50%);
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: invisible;
  -webkit-transition: opacity 1s ease, visiblity 1s ease;
  -moz-transition: opacity 1s ease, visiblity 1s ease;
  -o-transition: opacity 1s ease, visiblity 1s ease;
  transition: opacity 1s ease, visiblity 1s ease;

  span{
    color: $green;
  }
}
.loader.hide{
  opacity: 0;
  visibility: hidden;
}
.result__success{
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: 50%;
  top: 15rem;
  display: flex;
  -webkit-transition: opacity 1s ease, visiblity 1s ease;
  -moz-transition: opacity 1s ease, visiblity 1s ease;
  -o-transition: opacity 1s ease, visiblity 1s ease;
  transition: opacity 1s ease, visiblity 1s ease;
  @include translateX(-50%);
  flex-direction: column;
  text-align: center;
}
.result__success.show{
  visibility: visible;
  opacity: 1;
}
.lds-ring {
  display: none;
  width: 80px;
  height: 80px;
  margin: 0 auto 2rem;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid $green;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $green transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* vue js transitions */
.fade-enter-active { opacity: 1 }
.fade-leave-active{ opacity: 0;}

[v-cloak] { display: none; }
