@media screen and (max-width: 1160px){
  header{
    width: 95%;
  }
}

@media screen and (max-width: 1024px){
  header{
    width: 90%;
  }
}

@media screen and (max-width: 767px){
  header{
    width: 95%;
  }
}

@media screen and (max-width: 545px){
  .header-inner{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;

    .header-buttons{
      position: initial;
    }

    .header-title{
      margin-bottom: 1.1rem;
    }

    .region-header{
      position: absolute;
      right: 0;
      top: 1.4rem;
    }
  }
}
