@media screen and (max-width: 1190px) {
    .make--sticky{
        top: 0rem;
        //padding-top: 3rem;

    }
}
@media screen and (max-width: 1160px) {
    .page-node-type-page{
        .layout--onecol{
            width: 95%;
        }
    }
}
@media screen and (max-width: 1024px) {
    .page-node-type-page{
        .layout--onecol{
            width: 90%;
        }
    }
    .paragraph--type--tekstitem.links, .paragraph--type--tekstitem.rechts {
        .paragraph__textmedia--mediawrapper {
            float: none;
            max-width: 100%;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 3.9rem;
    
            img {
                max-width: 100%;
                height: auto;
                margin: 0 auto;
            } 
            .paragraph--type--full-width-image {
                margin-bottom: 5rem;
            }
        }
    }
    .paragraph--type--tekstitem{
        table{
            width: 100% !important;
            max-width: 81.9rem;
        }
    }
}

@media screen and (max-width: 767px) {
    .page-node-type-page{
        .layout--onecol{
            width: 95%;
        }
    }
    .anker--menu{
       display: none;
    }
    .anker--item{
       display: block !important;
    }
    .links, .rechts{
        .paragraph__textmedia--mediawrapper{
            float: none;
            margin: 0 auto 1.5rem;
            max-width: 100%;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
}
